/* @media only screen and (min-width: 1921px) and (max-width: 4800px) {}
@media only screen and (min-width: 1440px) and (max-width: 1599px) {

} */
@media only screen and (min-width: 1280px) and (max-width: 1618px) {

    /* header section */
    .logo img {
        width: 205px;
        height: auto;
    }

    .menu-bar ul li a {
        font-size: 18px;
    }

    .menu-icon a img {
        width: 75%;
    }

    .menu-bar ul {
        gap: 20px;
    }

    .nav-btn {
        font-size: 19px;
        padding: 10px 30px 10px 40px;
        margin-left: 10px;
    }

    .menu {
        padding-top: 50px;
        padding-bottom: 100px;
        padding-left: 50px;
    }

    .menu-icon {
        gap: 15px;
    }

    /* banner section */
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    /* header section */
    .logo img {
        width: 205px;
        height: auto;
    }

    .menu-bar ul li a {
        font-size: 18px;
    }

    .menu-icon a img {
        width: 75%;
    }

    .menu-bar ul {
        gap: 20px;
    }

    .nav-btn {
        font-size: 19px;
        padding: 10px 30px 10px 40px;
        margin-left: 10px;
    }

    .menu {
        padding-top: 50px;
        padding-bottom: 100px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .menu-icon {
        gap: 15px;
    }

    .menu-bar-icon {
        display: block;
    }

    .menu-bar-icon a {
        color: #fff;
        font-size: 24px;
    }

    .fa-bars {
        display: block;
    }

    .menu-bar {
        display: none;
        position: absolute;
        top: 110px;
        right: 0px;
        text-align: left;
        padding: 50px 100px 80px 50px;
        background-color: #000;
    }

    .menu-bar ul li a {
        display: block;
        margin-bottom: 20px;
    }

    .menu-bar ul {
        display: block;
    }

    .menu-bar.active {
        display: block;
    }
}


@media all and (max-width:991px) {}

@media all and (max-width:767px) {}

@media all and (max-width:575px) {}

@media all and (max-width:413px) {}

@media all and (max-width:374px) {}