/* Css Index
 ===============================
 1 Header Css
 2 Banner Css
 3 Contact Css
*/
/* font-family: 'Clash Display', sans-serif; */
/* font-family: "Sora", sans-serif; */
/* font-family: "Manrope", sans-serif; */
/* font-family: "Arimo", sans-serif; */
/* font-family: "Urbanist", sans-serif; */
/* font-family: "Montserrat", sans-serif; */


/*
 Landingpage Default css
*/
body {
   margin: 0;
   padding: 0;
   font-size: 18px;
   box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
span,
video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent;
}

p a {
   background: transparent !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

textarea {
   outline: none !important;
}

audio,
canvas,
video {
   display: inline-block;
}

a {
   outline: none !important;
}

audio:not([controls]) {
   display: none;
   height: 0;
}

[hidden] {
   display: none;
}

code,
kbd,
pre,
samp {
   font-family: monospace, serif;
   font-size: 1em;
}

pre {
   white-space: pre;
   white-space: pre-wrap;
   word-wrap: break-word;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
   content: none;
}

ins {
   background-color: #ff9;
   color: #000;
   text-decoration: none;
}

mark {
   background-color: #A7F4F6;
   color: #555;
}

del {
   text-decoration: line-through;
}

abbr[title],
dfn[title] {
   border-bottom: 1px dotted;
   cursor: help;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

button {
   outline: none !important;
}

input {
   outline: none !important;
}

textarea {
   outline: none !important;
}

/******************************** End default css*******************************************/

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
   padding: 0;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   margin: 0;
   padding: 0;
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

.container {
   max-width: 1619px;
   width: 100%;
   margin: 0 auto;
}

/**************************************/
/************header banner area *******/
/************************************/
.hero-banner-area {
   background: url(../images/background-1.jpg);
   background-repeat: no-repeat;
   background-size: 100%;
   width: 100%;
}

.menu {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   padding-top: 74px;
   padding-bottom: 193px;
}

.logo {
   display: flex;
   align-items: center;
   gap: 9px;
}

.logo h1 {
   color: #fff;
   font-family: 'Clash Display', sans-serif;
   font-size: 60px;
   font-weight: 500;
}

.menu ul {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 30px;
}

.menu ul li a {
   font-family: "Sora", sans-serif;
   font-size: 24px;
   font-weight: 600;
   color: #fff;
}

.menu-icon {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 25px;
}

.nav-btn {
   font-family: "Manrope", sans-serif;
   font-size: 21px;
   font-weight: 700;
   color: #fff;
   padding: 15px 34px 14px 53px;
   border: 4px solid #FFFFFF99;
   border-radius: 50px;
   margin-left: 38px;
}

.banner-heading {
   text-align: center;
}

.banner-heading h2 {
   font-family: "Arimo", sans-serif;
   font-size: 90px;
   font-weight: 700;
   color: #fff;
}

.banner-heading span {
   background: linear-gradient(90deg, #FFFFFF 15.43%, #FD49FF 52.51%);
   -webkit-text-fill-color: transparent;
   background-clip: text;
}

.banner-heading h1 {
   font-family: "Arimo", sans-serif;
   font-size: 140px;
   font-weight: 700;
   color: #fff;
}

.banner-heading p {
   font-family: "Urbanist", sans-serif;
   font-size: 28px;
   font-weight: 600;
   color: #fff;
}

.banner-btn {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 15px;
   padding-top: 88px;
   padding-bottom: 181px;
}

.banner-read-btn {
   padding: 19px 28px 20px 47px;
   background: #fff;
   font-family: "Urbanist", sans-serif;
   font-size: 22px;
   font-weight: 700;
   text-align: center;
   border-radius: 45px;
}

.banner-read-btn i {
   padding-left: 82px;
}

.banner-try-demo-btn {
   font-family: "Urbanist", sans-serif;
   font-size: 22px;
   font-weight: 700;
   text-align: center;
   background: linear-gradient(90deg, #FFFFFF 0%, #FD49FF 100%);
   padding: 10px 11px 10px 43px;
   border-radius: 40px;
   display: flex;
   align-items: center;
}

.banner-try-demo-btn i {
   height: 45px;
   width: 45px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   border-radius: 100%;
   margin-left: 87px;
}

/* technology partner */
.technology-partner h1 {
   font-family: "Manrope", sans-serif;
   font-size: 16px;
   font-weight: 700;
   text-align: center;
   color: #fff;
   padding-bottom: 30px;
}

.technology-partner-logo {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
   padding-bottom: 100px;
}

/**************************************/
/************header banner area ******/
/************************************/

/**************************************/
/************decision data area ******/
/************************************/
.decision-data-area {
   background-color: #000000;
   padding-top: 169px;
}

.decision-data-heading {
   display: flex;
   justify-content: center;
}

.decision-data-heading h1 {
   font-family: "Arimo", sans-serif;
   font-size: 80px;
   font-weight: 700;
   text-align: center;
   color: #fff;
   width: 70%;
}

.decision-data-heading::after {
   content: "";
   background: url(../images/shines\ 1.png);
   background-repeat: no-repeat;
   width: 94px;
   height: 94px;
   position: absolute;
   margin-top: -48px;
   margin-left: 1100px;
}

.decision-data-heading span {
   background: linear-gradient(90deg, #FFFFFF 45.05%, #FD49FF 83.25%);
   -webkit-text-fill-color: transparent;
   background-clip: text;
}


.decision-data-para {
   margin-top: 39px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.decision-data-para::before {
   content: "";
   background: url(../images/shines\ 2.png);
   background-repeat: no-repeat;
   width: 53px;
   height: 53px;
   position: absolute;
   margin-right: 1300px;
}

.decision-data-para p {
   font-family: "Manrope", sans-serif;
   font-size: 28px;
   font-weight: 500;
   text-align: center;
   color: #fff;
   width: 65%;
   Line-height: 38.25px;
}

.decision-data-para img {
   height: 53px;
   width: 53px;
   position: absolute;
   margin-right: 1300px;
}

.decision-dashbord {
   display: flex;
   justify-content: center;
   padding-top: 39px;
   padding-bottom: 69px;
}

.decision-dashbord img {
   width: 1116px;
   height: 954px;
   z-index: 1;
}

.decision-main::before {
   position: absolute;
   content: "";
   background: url(../images/bg2.png);
   background-repeat: no-repeat;
   width: 100%;
   height: 1440px;
   margin-left: -145px;
   margin-top: 100px;
}

.decision-dashbord-text {
   display: flex;
   justify-content: center;
   padding-top: 69px;
   padding-bottom: 312px;
   gap: 144px;
}

.decision-dashbord-text p {
   color: #fff;
   z-index: 1;
   font-family: "Manrope", sans-serif;
   font-family: Manrope;
   font-size: 28px;
   font-weight: 400;
   text-align: left;
   width: 38%;
}

.decision-dashbord-text p:last-child {
   text-align: end;
}

/**************************************/
/************decision data area ******/
/************************************/


/**************************************/
/************project feature area ******/
/************************************/
.project-container {
   max-width: 1400px;
   margin: 0 auto;
}

.project-feature-area {
   background: url(../images/project-feature-bg.png);
   background-repeat: no-repeat;
   background-size: 100%;
   width: 100%;
   background-color: #000;
}

.project-feature-heading h1 {
   font-family: "Arimo", sans-serif;
   font-size: 70px;
   font-weight: 700;
   color: #fff;
   padding-bottom: 51px;
}

.project-items {
   display: grid;
   grid-template-columns: repeat(12, minmax(0, 1fr));
   gap: 49px;
}

.item14 {
   grid-column: span 7;
}

.item23 {
   grid-column: span 5;
}

.item {
   padding: 50px;
   background-color: #0D1121;
   box-shadow: 0px 4px 30px 4px #3A4D95 inset;
   border-radius: 25px;
   border: #2844A4 3px solid;
}

.item img {
   width: 70px;
   height: auto;
}

.item h2 {
   font-family: "Arimo", sans-serif;
   font-size: 42px;
   font-weight: 700;
   line-height: 48.3px;
   color: #fff;
   padding-top: 59px;
   padding-bottom: 25px;
}

.item p {
   font-family: "Manrope", sans-serif;
   font-size: 24px;
   font-weight: 500;
   line-height: 32.78px;
   color: #fff;
}


/**************************************/
/************project feature area ******/
/************************************/
/**************************************/

/************pricing structure area ******/
/************************************/
/**************************************/
.pricing-structure-heading {
   padding-top: 225px;
   color: #fff;
   text-align: center;
}

.pricing-structure-heading h1 {
   font-family: "Arimo", sans-serif;
   font-size: 84px;
   font-weight: 700;
   line-height: 96.59px;
}

.pricing-structure-heading p {
   font-family: "Manrope", sans-serif;
   font-size: 24px;
   font-weight: 400;
   line-height: 32.78px;
}

/************pricing structure area ******/
/************************************/